<?xml version="1.0"?>
<configuration>
	<!-- https://learn.microsoft.com/en-us/previous-versions/dotnet/netframework-4.0/dd409252(v=vs.100) -->
	<runtime>
		<loadFromRemoteSources enabled="true"/>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
